<div class="container">
    <div class="row d-flex justify-content-center    ">
        <div class="col-sm-12 col-md-6 col-lg-4 bg-secondary  mt-5 p-5" id="verify_container">

            <div class="col-6 mb-3" id="logo_container">
                <img src="../../../../assets/images/DateDogLogo.png" alt="">
            </div>

            <div class="mb-3 col-10">
                <label for="" class="form-label">Enter Code Sent to Email</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""/>

            </div>
            

            <div class="col-10 button_group">
                <button type="submit" class="btn btn-light col-5">
                    Resend
                </button>
                <div class="btn btn-primary col-5" routerLink="../signup">
                    Verify
                </div>
            </div>
        </div>
    </div>
</div>