<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1000">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/FotoPrueba.jpg?alt=media&token=8ccc06fc-1f19-479b-a301-c0315c940e3f" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/FotoPrueba2.jpeg?alt=media&token=f5360eeb-9eb1-42df-8537-de04aea88b8b" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/PhotoPrueba3.png?alt=media&token=82b6ea8d-c04d-4831-818c-6f624fd48370" class="d-block w-100" alt="...">
      </div>
    </div>
</div>

<router-outlet></router-outlet>