<div class="container ">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-sm-12  col-lg-10">
            <div class="row">

                @if (loading == true) {
                    <div class=" col-sm-12 col-md-6  col-lg-4 mt-2 mb-2 p-3" *ngFor="let dog of [1,1,1,1,1,1]">
                        <dog-card [dog]="'placeholder'"></dog-card>
                    </div>
                }@else {
                    @if(dogs.length == 0) {
                        <div class="row d-flex justify-content-center mt-5" id="no-dogs" routerLink="/dogs/add_dog">
                            <div class="col-8">
                                <div class="card">
                                    <img class="card-img-top" src="../../../../assets/images/Dog2Photo.png" alt="Title" />
                                    <div class="card-body">
                                        <h4 class="card-title">Aun no tienes perros</h4>
                                        <p class="card-text">Dirigete a la barra de navegacion y agrega tu primer Perro</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    }@else {
                        <div class=" col-sm-12 col-md-6  col-lg-4 mt-2 mb-2 p-3" *ngFor="let dog of dogs">
                            <dog-card [dog]="dog"></dog-card>
                        </div>
                    }

                }
            </div>
        </div>

    </div>
</div>
