<div class="container p-3 mt-lg-5 mt-md-3 mt-sm-0">
    <form>
        <div class="row d-flex justify-content-center">
            <div class="col-4" id="profile_container">
                <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
            </div>
        </div>

        <div class="row d-flex justify-content-center">
            <div class=" col-10 mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""/>
            </div>
        </div>
        
        <div class="row d-flex justify-content-center">
            <div class="mb-3 col-5">
                <label for="" class="form-label">Breed</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""/>
            </div>
            <div class="mb-3 col-5">
                <label for="" class="form-label">Sex</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""/>
            </div>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="mb-3 col-10">
                <label for="" class="form-label">Date of Birth</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""/>
            </div>
        </div>

        <div class="row mt-4 p-2 d-flex justify-content-center " id="vaccines">
            <div class="col-10 bg-light" id="vaccine_header">
                <div id="vaccine_title">
                    Vacunas
                </div>
                <div id="vaccines_description">
                    Fotos de la vacuna de "Nombre"
                </div>
            </div>
    
            <div class="col-10 bg-light" id="vaccine_photos">
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
            </div>
        </div>
    
        <div class="row mt-4  p-2 d-flex justify-content-center" id="photos">
            <div class="col-10 bg-light" id="photos_header">
                <div id="photos_title">
                    Fotos
                </div>
                <div id="photos_description">
                    Fotos de "Nombre"
                </div>
            </div>
    
            <div class="col-10 bg-light" id="photos_cont">
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
                <div class="photo_container">
                    <img src="https://firebasestorage.googleapis.com/v0/b/todo-d36d4.appspot.com/o/users%2F66ce704304b82d0af77c1a6d%2FprofilePhoto%2FprofilePhoto?alt=media&token=63c1c1b1-2777-43c2-84f8-9675475b063b" alt="">
                </div>
            </div>
        </div>

        <div class="mb-3 row d-flex justify-content-center">
            <div class="col-10 d-flex justify-content-center">
                <button type="submit" id="submit" class="btn btn-primary col-10">
                    Agregar
                </button>
            </div>
        </div>
    </form>
</div>
