
.container_sec{

    border-radius: 50px;
}

#profile_container{
    position: relative;
    img{
        width: 100%;
        max-width: 300px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 100%;
        position: relative;

    }
    input{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        top: 1px;
    }
}


#vaccines{
    border-radius: 15px;

    #vaccine_header{
        border-radius: 15px 15px 0px 0px;
        padding: 2%;
        position: relative;

        #deleteVaccinePhotos{
            div{
                font-size: 32px;
                background-color: #f83e3e7a;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            div:hover{
                background-color: rgb(233, 228, 228);
                cursor: pointer;
            }
        }

        #addVaccinePhoto{
            position: relative;
            div{
                font-size: 32px;
                
                background-color: #c5c5c5;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            div:hover{
                background-color: rgb(233, 228, 228);
                cursor: pointer;
            }
            
            input{
                position: absolute;
                top: 1px;
                left: 1px;
                width: 100%;
                height: 100%;
                opacity: 0;
                
            }
        }

        #vaccine_title{
            font-size: 150%;
        }

        #vaccines_description {
            margin-top: -0.5vh;
            font-size: 100%;
            color: gray;
            font-style: italic;
        }
    }

    #vaccine_photos{
        border-radius: 0px 0px 15px 15px;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        .photo_container{
            margin: 2%;
            min-width: 238px;
            width: 35%;
            max-width: 322px;
            height: 35vh;
            display: flex;
            img{
                width: 100%;
                flex-grow: 1;
                border-radius: 15px;
            }
        }
    }
    #vaccine_photos::-webkit-scrollbar{
        height: 5px;
    }


    #vaccine_photos::-webkit-scrollbar-thumb{
        background-color: #a3a09ea4;
        border-radius: 25px;
    }
    
    
}


#photos{
    border-radius: 15px;
    margin-bottom: 5vh;

    #photos_header{
        padding: 2%;
        border-radius: 15px 15px 0px 0px;

        #deletePhotos{
            div{
                font-size: 32px;
                background-color: #f83e3e7a;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            div:hover{
                background-color: rgb(233, 228, 228);
                cursor: pointer;
            }
        }

        #addGeneralPhoto{
            position: relative;
            div{
                font-size: 32px;
                
                background-color: #c5c5c5;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            div:hover{
                background-color: rgb(233, 228, 228);
                cursor: pointer;
            }
            
            input{
                position: absolute;
                top: 1px;
                left: 1px;
                width: 100%;
                height: 100%;
                opacity: 0;
                
            }
        }

        #photos_title{
            font-size: 150%;
        }

        #photos_description {
            margin-top: -0.5vh;
            font-size: 100%;
            color: gray;
            font-style: italic;
        }
    }

    #photos_cont{
        border-radius: 0px 0px 15px 15px;
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        .photo_container{
            margin: 2%;
            min-width: 238px;
            width: 35%;
            max-width: 322px;
            height: 35vh;
            display: flex;
            img{
                width: 100%;
                flex-grow: 1;
                border-radius: 15px;
            }
        }
    }
    #photos_cont::-webkit-scrollbar{
        height: 5px;
    }


    #photos_cont::-webkit-scrollbar-thumb{
        background-color: #a3a09ea4;
        border-radius: 25px;
    }
    
    
}

#submit{
    border-radius: 25px;
}