<div class="container mt-lg-5 mt-md-3 mt-sm-12">
    <div class="row d-flex justify-content-center">
        <div class="p-3  col-sm-12 col-md-10 col-lg-8 ">
            <form [formGroup]="form" (submit)="onSubmit()" class="bg-info container_sec p-3 mt-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-4" id="profile_container">
                        <img [src]="imgUrl || '../../../../assets/images/NoProfilePhoto.png'" alt="">
                        <input [disabled]="loading" type="file" class="form-control" (change)="previewImage($event)" aria-describedby="fileHelpId"/>
                        
                    </div>
                </div>
        
                <div class="row d-flex justify-content-center">
                    <div class=" col-10 mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" [readOnly]="loading" class="form-control" name="name" id="name" formControlName="name" aria-describedby="helpId" placeholder=""/>
                    </div>
                </div>
                
                <div class="row d-flex justify-content-center">
                    <div class="mb-3 col-5" data-bs-toggle="modal" data-bs-target="#modalBreed2Id">
                        <label for="breed" class="form-label">Breed</label>
                        <input type="text" [readOnly]="loading" class="form-control" aria-describedby="helpId" formControlName="breed" readonly [value]="breed" [(ngModel)]="breed" (change)="checkForm()"/>

                        
                    </div>
                    <div class="mb-3 col-5">
                        <label class="form-label"> Sex</label>
                        <br>

                        <input type="radio" [disabled]="loading" class="btn-check" name="sex" id="option5" autocomplete="off" formControlName="sex" value="male" checked >
                        <label class="btn" for="option5">Masculino</label>

                        <input type="radio" [disabled]="loading" class="btn-check" name="sex" id="option6" autocomplete="off" formControlName="sex" value="female" >
                        <label class="btn" for="option6">Femenino</label>
                    </div>
                </div>
        
        
                <div class="row d-flex justify-content-center">
                    <div class="mb-3 col-10">
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input type="date" [disabled]="loading" class="form-control" name="dob" id="dob" formControlName="dob" aria-describedby="helpId" placeholder=""/>
                    </div>
                    
                </div>
        
                <div class="row mt-4 p-2 d-flex justify-content-center " id="vaccines">
        
                    
                    <div class="col-10 bg-light d-flex justify-content-between" id="vaccine_header">
                        <div class="col-5">
                            <div id="vaccine_title">
                                Vacunas
                            </div>
                            <div id="vaccines_description">
                                Fotos de la vacuna de "Nombre"
                            </div>
                        </div>
                        <div class="d-flex justify-content-end col-5">
                            <div class="mb-3 me-1" id="deleteVaccinePhotos">
                                <div (click)="removeImagesVaccine()">
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </div>
                            <div class="mb-3" id="addVaccinePhoto">
                                <div>
                                    <i class="bi bi-plus-circle"></i>
                                </div>
                                <input [disabled]="loading" type="file" class="form-control" name="" id="" placeholder="" aria-describedby="fileHelpId" (change)="previewImageVaccine($event)"/>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-10 bg-light" id="vaccine_photos">
                        <div class="photo_container" *ngFor="let url of imgUrlsVaccine">
                            <img [src]="url" alt="">
                        </div>
                        <div *ngIf="imgUrlsVaccine.length == 0" class="photo_container">
                            <img src="../../../../assets/images/NoProfilePhoto.png" alt="">
                        </div>
                    </div>
                </div>
            
                <div class="row mt-4  p-2 d-flex justify-content-center" id="photos">
                    <div class="col-10 bg-light d-flex justify-content-between" id="photos_header">
                        <div class="col-5">
                            <div id="photos_title">
                                Fotos
                            </div>
                            <div id="photos_description">
                                Fotos de "Nombre"
                            </div>
                        </div>
                        <div class="d-flex justify-content-end col-5">
                            <div class="mb-3 me-1" id="deletePhotos">
                                <div (click)="removeImages()">
                                    <i class="bi bi-trash3"></i>
                                </div>
                            </div>
                            <div class="mb-3" id="addGeneralPhoto">
                                <div>
                                    <i class="bi bi-plus-circle"></i>
                                </div>
                                <input [disabled]="loading" type="file" class="form-control" name="" id="" placeholder="" aria-describedby="fileHelpId" (change)="previewImages($event)"/>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-10 bg-light" id="photos_cont">
                        <div *ngFor="let url of imgUrls" class="photo_container">
                            <img [src]="url" alt="">
                        </div>
                        <div *ngIf="imgUrls.length == 0" class="photo_container">
                            <img src="../../../../assets/images/NoProfilePhoto.png" alt="">
                        </div>
                    </div>
                </div>
        
                <div class="mb-3 row d-flex justify-content-center">
                    <div class="col-10 d-flex justify-content-center">
                        <button type="submit" [disabled]="loading" id="submit" class="btn btn-primary col-10">
                            Agregar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-loading bg-light" *ngIf="loading">
    <div class="row">
        <div class="col-12 loading-container">
            <h2>Cargando...</h2>
            <div class="d-flex justify-content-center align-items-center">
                <div class="spinner-border text-primary spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            
        </div>
    </div>
</div>


<app-breeds-modal (sendBreeds)="receiveBreed($event)" class="modal fade" id="modalBreed2Id" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true"></app-breeds-modal>