.row:hover{
    cursor: pointer;
}
.photo-placeholder{
    z-index:0;
}

#profilePhotoContainer{
    
    border-radius: 25px;
    img{
        width: 100%;
        height: 35vh;
        object-fit: cover;
        border-radius: 15px;
    }
}

.dogInfo-placeholder{
    z-index: 2;
}
#dogInfo{
    margin-top: -5vh;
    border-radius: 25px 0px 15px 15px;
    #general_info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        #name_breed{
            #name{
                font-size: 300%;
            }
            #breed{
                font-size: 150%;
                color: gray;
            }
        }
    
        #age_sex{
            margin-top: 2vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            #age{
                position: relative;
                background-color: #ff62439a;
                width: 45%;
                padding: 15px;
                text-align: center;
                color: white;
                font-size: 100%;
                border-radius: 25px;
                min-width: 106.39px;
            }
            #sex{
                position: relative;
                background-color: #ffae349a;
                width: 45%;
                min-width: 106.39px;
                padding: 15px;
                text-align: center;
                color: white;
                font-size: 100%;
                border-radius: 25px;
            }
        }
    }

    #ownerPhotoContainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div{
            padding: 15px;
            
            img{
                width: 100%;
                max-width: 300px;
                border-radius: 15px;
                aspect-ratio: 1/1;
                flex-grow: 1;
                
            }
        }


    }
}