
@if (dog == "placeholder") {
    <div class="row mt-md-4 d-flex placeholder-glow" >
        <div class="col-12 p-0  photo-placeholder" id="profilePhotoContainer"  >
            <img class="placeholder" src="../../../assets/images/NoProfilePhoto.png" alt="">
        </div>
        <div class="col-12 bg-light d-flex justify-content-between p-2 dogInfo-placeholder" id="dogInfo"  >
            <div class="col-7 " id="general_info" >
                <div id="name_breed" class="placeholder">

                </div>
                <div id="name_breed" class="placeholder">

                </div>
                
                <div id="age_sex" >
                    <div id="age" class="placeholder">
                        
                    </div>
                    <div id="sex" class="placeholder">
                        
                    </div>
                </div>
            </div>
    
            <div class="col-4" id="ownerPhotoContainer" >
                <div >
                    <img class="placeholder" src="../../../assets/images/NoProfilePhoto.png" alt="">
                </div>
            </div>
        </div>
    </div>
}@else{
    <div class="row mt-md-4 d-flex" >
        <div class="col-12 p-0" id="profilePhotoContainer" [routerLink]="'/dogs/dog_details/'+dog._id">
            <img [src]="dog.profilePhoto || '../../../assets/images/NoProfilePhoto.png'" alt="">
        </div>
        <div class="col-12 bg-light d-flex justify-content-between p-2" id="dogInfo" >
            <div class="col-7" id="general_info" [routerLink]="'/dogs/dog_details/'+dog._id">
                <div id="name_breed">
                    <div id="name">{{dog.name}}</div>
                    <div id="breed">{{dog.breed}}</div>
                </div>
                
                <div id="age_sex">
                    <div id="age">
                        {{dog.dob | date : 'MM-yyyy'}}
                    </div>
                    <div id="sex">
                        {{dog.sex}}
                    </div>
                </div>
            </div>
    
            <div class="col-4" id="ownerPhotoContainer" [routerLink]="'/users/user_details/'+dog.idOwner">
                <div >
                    <img [src]="dog.photoOwner || '../../../assets/images/NoProfilePhoto.png'" alt="">
                </div>
            </div>
        </div>
    </div>
}