<div class="container">
    <div class="row d-flex justify-content-sm-center justify-content-lg-end    ">
        <div class="col-sm-12 col-md-6 col-lg-4 bg-secondary  mt-5 " id="signin_container">

            <div class="col-6" id="logo_container">
                <img src="../../../../assets/images/DateDogLogo.png" alt="">
            </div>

            <div class="col-10 mt-5">
                <div class="mb-3">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""/>
                </div>
            </div>
            <div class="col-10 mb-3">
                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""/>
                </div>
            </div>

            <div class="col-10 button_group">
                <button type="submit" class="btn btn-primary col-10">
                    Sign In
                </button>
                <div class="btn btn-light col-10" routerLink="../signup">
                    Sign Up
                </div>
                
            </div>
        </div>
    </div>
</div>
