

#signin_container{
    z-index: 2;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 90vh;
    // min-width: 410px;
    border-radius: 15px;
}

#logo_container{
    display: flex;
    background-color: white;
    padding: 2%;
    border-radius: 100%;
    img{
        width: 100%;
        object-fit: cover;
    }
}

.button_group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .btn{
        margin: 2% 0px;
        border-radius: 25px;
    }
}